/****************/
/* RESET */
/****************/
*,
*::before,
*::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    --color-primary: #354147;
    --color-secondary: #0CD977;
    --color-tertiary: #FFB703;
    --color-quaternary: #FB8500;
    --color-quinary: #03045E;
    --color-white: #FFFFFF;
    --color-black: #050505;
}

/**********************************************************/
/* BASE */
/**********************************************************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-black);
}

h1 {
    font-size: calc(1.5rem + 2vw);
    color: var(--color-secondary);
}

.main-title {
    text-align: center;
    margin: 1.5rem 0;
}

.posts-list {
    width: 90%;
    max-width: 37.5rem;
    margin: 0 auto;
}

.posts-list > * {
    margin-bottom: 1.5rem;
}

.post { 
    padding: 1rem;
    background-color: var(--color-white);
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.post__header {
    margin-bottom: 1rem;
    display: flex;
}

.post-meta {
    display: flex;
}

.post-meta__icon {
    margin-right: 1.5rem;
}

.post-meta__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-meta__author {
    font-weight: bold;
}

.post-meta__time {
    font-size: 0.8rem;
}

.profile-pic {
    border-radius: 50%;
    max-width: 3.75rem;
}

.profile-pic-default {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-quaternary);
    height: 3.75rem;
    width: 3.75rem;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic-default span {
    font-weight: bold;
    color: var(--color-black);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.post__text {
    margin-bottom: 1rem;
}

.post__image {
    margin-bottom: 1rem;
}

.post__image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: .5rem;
}

.likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like-button {
    display: inline-block;
    padding: 1rem;
    border-radius: .5rem;    
    text-decoration: none;
    color: var(--color-quinary);
}

.like-button:not(.like-button--liked):hover {
    background-color: var(--color-secondary);
}

.like-button__label {
    font-weight: bold;
}

.like-button--liked {
    color: var(--color-secondary);
    cursor: default;
}